body {
  font-family: raleway;
}

div {
  font-family: raleway;
}

form {
  border: 3px solid #4c4747;
}

button {
  background-color: rgb(61, 185, 223);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.6;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}