
    p {
      font-family: raleway;
      color: black;
      padding:5px;
      border:1px solid black;
    }

    h1 {
      font-family: raleway;
      color: white;
      background-color: black;
    }

    h2 {
      font-family: raleway;
      color: white;
      background-color: black;
    }
